# udev rules to set the access rights of ACS CCID smart card readers
# so they can be used by pcscd

# If not adding the device, go away
ACTION!="add", GOTO="pcscd_acsccid_rules_end"
SUBSYSTEM!="usb", GOTO="pcscd_acsccid_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="pcscd_acsccid_rules_end"

# generic CCID device (bInterfaceClass = 0x0b)
ENV{ID_USB_INTERFACES}=="*:0b0000:*", GROUP="pcscd"

# non CCID generic (InterfaceClass: 0x00)
# ACS ACR83U
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="90d2", GROUP="pcscd"
# ACS ACR88U
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2011", GROUP="pcscd"
# ACS ACR128U
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2100", GROUP="pcscd"
# ACS ACR1281 1S Dual Reader
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2224", GROUP="pcscd"
# ACS ACR1281 2S CL Reader
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="2215", GROUP="pcscd"
# ACS APG8201
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="8201", GROUP="pcscd"

# non-CCID readers
# ACS ACR38U
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="9000", GROUP="pcscd"
# ACS ACR38U-SAM
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="90cf", GROUP="pcscd"
# ACS AET65 1SAM ICC Reader
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="0101", GROUP="pcscd"
# IRIS SCR21U
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="90ce", GROUP="pcscd"
# ACS CryptoMate
ATTRS{idVendor}=="072f", ATTRS{idProduct}=="9006", GROUP="pcscd"

# All done
LABEL="pcscd_acsccid_rules_end"
