# Compiled source #
###################
*.o
*.a
*.user

# Makefiles #
###################
Makefile
CMD/services/Makefile.cmdServices
CMD/services/Build
_Binaries35
applayer/Build
clean_mdrv_keys/Build
common/Build
dialogs/dialogsWin32/Build
eidlib/Build
eidlib/docs
eidlib/cppdocs.zip
eidlibCS/GeneratedFiles
eidlibCS/obj
eidlibCS/Properties
eidlibCS_Wrapper/Build
eidlibCS_Wrapper/GeneratedFiles
eidlibJava_Wrapper/Build
eidlibJava_Wrapper/javadocs
eidlibJava_Wrapper/javadocs.zip
eidlibJava_Wrapper/Release/BuildLog.htm
eidlibJava/Build
cardlayer/Build
minidriver/makemsi/Release
misc/Wix_MW35/MarkHidden/Build
misc/Wix_MW35/Autenticacao.gov-3.0/obj
pteid-poppler/Build
pkcs11/Build
_Builds/Autenticacao.gov.sdf
_Builds/Autenticacao.gov.v12.suo
_Builds/Autenticacao.gov.opensdf
eidguiV2/Release
eidguiV2/GeneratedFiles

# GeneratedFiles #
###################
.qmake.stash
eidlibJava_Wrapper/GeneratedFiles/
dialogs/dialogsQTsrv/moc_*
dialogs/dialogsQTsrv/ui_*
eidguiV2/build
eidguiV2/eidguiV2
eidguiV2/qmake_qmake_immediate.qrc
eidguiV2/qrc_qmake_qmake_immediate.cpp
eidguiV2/qrc_resources.cpp
eidlibJava/class/
minidriver/Build/
jar/
lib/
bin/

# Credentials #
###################
eidguiV2/credentials.h
/release_data.wxs
/release_data.h
