# Compiled source #
###################
*.o
*.a

# Makefiles #
###################
Makefile
CMD/services/Makefile.cmdServices

# GeneratedFiles #
###################
.qmake.stash
eidlibJava_Wrapper/GeneratedFiles/
dialogs/dialogsQTsrv/moc_*
dialogs/dialogsQTsrv/ui_*
eidguiV2/build
eidguiV2/eidguiV2
eidguiV2/qmake_qmake_immediate.qrc
eidguiV2/qrc_qmake_qmake_immediate.cpp
eidguiV2/qrc_resources.cpp
eidlibJava/class/
jar/
lib/
bin/

# Credentials #
###################
eidguiV2/credentials.h
/release_data.wxs
/release_data.h
