id=pteidcertinstall@caixamagica.pt
name=PTeID Certificate Install
version=1.0
description=A Firefox extension to install PTeID certificates.
creator=Estado Português
homepageURL=http://www.ama.pt
iconURL=/home/metalgod/Projects/trunk/pteid-mw-pt/_src/eidmw/xpi/src/icon.png
filename=pteidcertinstall
OrganizationName=pteidcm
ToolbarLocation=Last
BookmarkLocation=Last
CertPath1=/home/metalgod/Área de Trabalho/CartaodeCidadao001.pem
CertTrust1=C,C,C
CertPath2=/home/metalgod/Área de Trabalho/ECRaizEstado_novo_assinado_GTE.pem
CertTrust2=C,C,C
networkProxyHTTP_Port=0
networkProxySSL_Port=0
networkProxyFTP_Port=0
networkProxySOCKS_Port=0
