Source: pteid-mw
Section: utils
Priority: extra
Maintainer: Agência para a Modernização Administrativa, IP <ama@ama.pt>
Build-Depends: debhelper (>= 7.0.50~),
               pkg-config, 
               libpcsclite-dev,
               libpoppler-qt5-dev,
               libzip-dev,
               libopenjp2-7-dev,
               libpng-dev,
               openjdk-11-jdk,
               qtbase5-dev,
               qt5-qmake,
               qtbase5-private-dev,
               qt5-default,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qml-module-qtquick-controls2,	
               libssl-dev,
               libxerces-c-dev,
               libxml-security-c-dev,
               swig,
               libcurl4-openssl-dev
Standards-Version: 3.9.1
Homepage: https://www.autenticacao.gov.pt/cc-software

Package: pteid-mw
Conflicts: cartaodecidadao
Architecture: any
Depends: pcscd,
	qml-module-qt-labs-folderlistmodel,
	qml-module-qt-labs-settings,
	qml-module-qt-labs-platform,
	qml-module-qtgraphicaleffects,
	qml-module-qtquick-controls,
	qml-module-qtquick-controls2,
	qml-module-qtquick-dialogs,
	qml-module-qtquick-layouts,
	qml-module-qtquick-templates2,
	qml-module-qtquick-window2,
	qml-module-qtquick2,
	qt5-gtk-platformtheme,
	fonts-lato,
        ${misc:Depends},
        ${shlibs:Depends}
Description: Autenticação.Gov
 The Autenticação.Gov package provides a utility application (eidguiV2), a set of
 libraries and a PKCS#11 module to use the Portuguese Identity Card
 (Cartão de Cidadão) and Chave Móvel Digital in order to authenticate securely 
 in certain websites and sign documents.

